@model RSTracker.Models.Requisition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Requisition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dep.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dep.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Div.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Div.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubUni.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubUni.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VacancyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacancyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastWorkingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastWorkingDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
